SERVER_PORT=8080
DB_PATH=./sql.db
ALLOW_ORIGINS=http://localhost:3000
ADMIN_PASSWORD=change-me

DATABASE_HOST=sqlite
DATABASE_PORT=0
DATABASE_NAME=wedding_invitation
DATABASE_USER=
DATABASE_PASSWORD=
